<% const { id, flight, seat, givenName, surname, email } = response.data %>

<div class="content confirmation">
	<div class="user">
		<p class="message">Your Flight Reservation</p>
		<ul class="user-info">
			<li>ID #: <span><%= id %></span></li>
			<li>Flight #:<span id="flight"><%= flight %></span></li>
			<li>Seat #:<span id="seat"><%= seat %></span></li>
			<li>Name:<span id="name"><%= givenName %> <%= surname %></span></li>
			<li>Email:<span id="email"><%= email %></span></li>
		</ul>
	</div>
	<div class="tombstone"></div>
</div>

<p class="footer-logo">The only way to fly!</p>