<% const { flight, seat, givenName, surname, email } = data %>
<div class="content confirmation">
	<div class="user">
		<p class="message">Your flight is confirmed!</p>
		<ul class="user-info">
			<li>Flight #:
				<span id="flight"><%= flight %></span>
				 seat #:<span id="seat"><%= seat %></span>
			</li>
			<li>Name:<span id="name"><%= givenName %> <%= surname %></span></li>
			<li>Email:<span id="email"><%= email %></span></li>
		</ul>
	</div>
	<div class="tombstone"></div>
</div>

<p class="footer-logo">The only way to fly!</p>

<% if (typeof libs !== 'undefined') { %>
 <% libs.forEach(lib => { %>
	<script src="/js/<%= lib %>.js"></script>
 <% }) %>
<% } %>